.loginForm{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.login-card{
    width:400px;
    padding:30px;
}

.dispNone {
    display: none;
}

.dispBlock {
    display: block;
}

.red {
    color: red;
}

.form-control {
    width:100%;
}