.profile-information {
    margin: 2% 20%;
}

.profile-avatar{
    width: 100% !important;
    height: 100% !important;
}

.edit-button {
    height: 62px;
    color: white !important;
    background: #f50057;
    border-radius: 50px !important;
    margin-left: 20px !important;
}

.modal-div {
    margin: 15% 40%;
    background: white;
    padding: 15px;
    border-radius: 3px;
}

.dispNone {
    display: none;
}

.dispBlock {
    display: block;
}

.red {
    color: red;
}

.form-control {
    width:100%;
}

.profile-grid {
    margin: 0 10%;
    cursor: pointer;
}

.post-modal-div {
    margin: 10% 20%;
}

.post-modal-grid {
    background: white;
    border-radius: 3px;
}

.tags {
    color: rgb(3 121 239);
}

.likes {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.post-comment-container {
    display: flex;
}

.post-comment-form-control {
    width: 80%;
}

.add-button {
    cursor: pointer;
    margin-top: 10px !important;
    margin-left: 10px !important;
}

.post-header {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.post-user {
    margin-top: 10px;
    margin-left: 10px;
}

.comments-container {
    min-height: 260px;
}